/** common */
.gray-bg {
	background-color: #f3f3f4;
}
.white-bg {
	background-color: #fff;
}

.form-required {
	color: red;
	margin-right: 5px;
	position: relative;
	top: 4px;
	font-size: 18px;
}

.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
}

.btn-fw {
	min-width: 80px;
}
.btn-white:hover {
	background: #fafafa;
}

.gohome {
	display: none;
}

.a-operate + .a-operate{
	margin-left: 10px;
}

.table-hm thead tr {
	background-color: #1ab394;
	color: #fff;
}

.close.fileinput-remove {
	display: none;
}

.note-editor.note-frame {
	border: solid 1px #e5e6e7;
}

.disabled {
	pointer-events: none;
	cursor: default;
	color: #999;
}

.height-full {
    height: 100%!important;
}

.vertical-align {
    font-size: 0;
}
.vertical-align:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-bottom, .vertical-align-middle {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
}

@media (max-width: 767px){
	.hidden-xs {
   		display: none!important;
	}
}
.visible-xs {
    display: none!important;
}

.padding-0 {
	padding: 0!important;
}

@media (max-width: 767px){
	.visible-xs {
    	display: block!important;
	}
}

/** tab pane*/
.tabs-container .panel-body {
	border: none;
}
.tabs-container .nav-tabs>li.active>a, .tabs-container .nav-tabs>li.active>a:focus, .tabs-container .nav-tabs>li.active>a:hover {
	border: none;
	border-bottom: 1px solid #18a689;
	color: #18a689;
	font-weight: normal;
}
.nav-tabs>li>a {
	font-weight: normal;
}

/** modal */
.modal-center {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100%;
	margin: 0px auto;
}
.modal-center .modal-content {
	width: 100%;
}
.modal .modal-body {
	max-height: 500px;
	overflow: auto;
}

/** table */
.table-fixed {
	table-layout: fixed;
}
.table-fixed td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
}

/** dl */
dl dt,
dl dd {
	line-height: 2em;
}
.dl-detail {
	padding-right: 40px;
}
.dl-detail dt {
	width: 100px;
}
@media (min-width: 768px) {
	.dl-detail dd {
    	margin-left: 120px;
	}
}