body img {
	max-width: 100%;
}

.form-required {
	color: red;
	margin-right: 5px;
	position: relative;
	top: 4px;
	font-size: 18px;
}

.gohome {
	display: none;
}

.a-operate + .a-operate{
	margin-left: 10px;
}