/** common */
.gray-bg {
	background-color: #f3f3f4;
}
.white-bg {
	background-color: #fff;
}

.height-full {
    height: 100%!important;
}

.padding-0 {
	padding: 0;
}

.form-required {
	color: red;
	margin-right: 5px;
	position: relative;
	top: 2px;
	font-size: 14px;
}

.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
}

.btn-fw {
	min-width: 80px;
}
.btn-white:hover {
	background: #fafafa;
}

.gohome {
	display: none;
}

.a-operate + .a-operate{
	margin-left: 10px;
}

.table-hm thead tr {
	background-color: #f5f5f5;
}

.close.fileinput-remove {
	display: none;
}

.note-editor.note-frame {
	border: solid 1px #e5e6e7;
}

.disabled {
	pointer-events: none;
	cursor: default;
	color: #999;
}

.height-full {
    height: 100%!important;
}

.vertical-align {
    font-size: 0;
}
.vertical-align:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-bottom, .vertical-align-middle {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
}

@media (max-width: 767px){
	.hidden-xs {
   		display: none!important;
	}
}
.visible-xs {
    display: none!important;
}

.padding-0 {
	padding: 0!important;
}

@media (max-width: 767px){
	.visible-xs {
    	display: block!important;
	}
}

/** tab pane*/
.tabs-container .panel-body {
	border: none;
	padding: 10px;
}
.tabs-container .nav-tabs>li.active>a, .tabs-container .nav-tabs>li.active>a:focus, .tabs-container .nav-tabs>li.active>a:hover {
	border: none;
	border-bottom: 1px solid #18a689;
	color: #18a689;
	font-weight: normal;
}
.nav-tabs>li>a {
	font-weight: normal;
}

/** modal */
.modal-center {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100%;
	margin: 0px auto;
}
.modal-center .modal-content {
	width: 100%;
}
.modal .modal-body {
	max-height: 500px;
	overflow: auto;
}

/** table */
.table-fixed {
	table-layout: fixed;
}
.table-fixed td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
}

/** dl */
dl dt,
dl dd {
	line-height: 2em;
}
.dl-detail {
	padding-right: 40px;
}
.dl-detail dt {
	width: 100px;
}
@media (min-width: 768px) {
	.dl-detail dd {
    	margin-left: 120px;
	}
}

/** 页面标题 */
.page-title {
	min-height: 34px;
	border-bottom: 1px solid #e7e7eb;
	margin-bottom: 10px;
}
.page-title h2 {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-family: "Open Sans", "微软雅黑", sans-serif;
	float: left;
}
.page-title small {
	font-size: 14px;
	font-weight: 300;
	color: #888;
	padding-left: 10px;
}
.page-title a {
	float: right;
	margin-top: 5px;
}

/** 侧栏 */
.page-aside {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 220px;
	overflow-y: auto;
	background-color: #fff;
	border-right: 1px solid #e4eaec;
	-webkit-transition: visibility .1s ease,top .3s ease,left .5s ease;
	transition: visibility .1s ease,top .3s ease,left .5s ease;
}
.page-aside-section {
	position: relative;
}
.page-aside-section:after {
	position: relative;
	display: block;
	margin: 11px;
	content: "";
	border-bottom: 1px solid #e7e7eb;
}
.page-aside-section:first-child {
	padding-top: 11px;
}
.page-aside-section:last-child:after {
	display: none;
}
.page-aside .list-group-item {
	padding: 13px 20px;
	margin-bottom: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: none;
	border-radius: 0;
}
.page-aside .list-group-item .item-right {
	float: right;
}
.page-aside .list-group-item .fa,
.page-aside .page-aside-title .fa {
	margin-right: 8px;
}
.page-aside .list-group-item:FOCUS,
.page-aside .list-group-item:HOVER {
	color: #459ae9;
	background-color: #f5f5f5;
}
.page-aside .list-group-item.active,
.page-aside .list-group-item.active:focus, 
.page-aside .list-group-item.active:hover {
	color: #459ae9;
	background-color: #f5f5f5;
}
.page-aside .list-group.has-actions .list-group-item {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 32px;
	cursor: pointer;
}
.page-aside .list-group.has-actions .list-group-item:HOVER {
	color: #459ae9;
	background-color: #f5f5f5;
}
.page-aside .list-group.has-actions .list-group-item:HOVER .item-actions {
	display: block;
	color: #676a6c;
}
.page-aside .list-group.has-actions .list-group-item:HOVER .item-right {
	display: none;
}
.page-aside-title {
	padding: 10px 20px;
	overflow: hidden;
	font-weight: 400;
	color: #a1a1a1;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}
.page-aside .list-group.has-actions .list-group-item .item-actions {
	position: absolute;
	top: 6px;
	right: 15px;
	display: none;
}
.page-aside .list-group.has-actions .list-group-item .item-actions .fa {
	margin-right: 0;
}
.btn-pure, .btn-pure.active, .btn-pure:active, .btn-pure:focus, .btn-pure[disabled], 
.open>.dropdown-toggle.btn-pure, fieldset[disabled] .btn-pure {
	background-color: transparent;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-pure:hover {
	color: #459ae9;
}
.page-aside .btn-pure {
	padding-left: 2px;
	padding-right: 2px;
	background-color: transparent;
}
.page-main {
	height: 100%;
	margin-left: 220px;
	overflow-y: auto;
	padding: 20px;
}